* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Mobile Version */

@media screen and (max-width: 915px) {
    
    .nav {
        display: none;
    }
    
    
    .nav-mobile {
        visibility: visible;
        position: fixed;
        background-color: #ffa500;
        color: #ffffff;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
    }

    .btn-li {
        position: relative;
        height: 40px;
        width: 40px;
    }

    .btn-li label {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }

    .menuicon,
    .closeicon {
        position: absolute;
        top: 5px;
        right: 10px;
        height: 40px;
        width: 40px;
    }

    #menu-toggle {
        display: none;
    }

    .menuicon {
        display: block;
    }

    .closeicon {
        display: none;
    }

     #menu-toggle:checked ~ .row .closeicon {
        display: block;
    }

    .menu-mobile {
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: #ffa500;
        position: fixed;
        top: 48px;
        left: 0;
        z-index: 5;
        margin: 0;
        padding: 0;
    }

    .menu-mobile li {
        padding: 15px;
        text-align: center;
    }

    .menu-mobile a {
        color: #ffffff;
        text-decoration: none;
    }

    #nav-mobile img {
        padding: 5px;
        width: 18%;
    }

    /* Show menu when checkbox is checked */
    #menu-toggle:checked ~ .menu-mobile {
        display: flex;
        flex-direction: column;
    }
    
    #menu-toggle:checked ~ .row .menuicon {
        display: none;
    }

    #menu-toggle:checked ~ .row .closeicon {
        display: block;
    }

    #nav-mobile img {
        padding: 5px;
        width: 18%;
    }

    .main img {
        margin-top: 35px;
        width: 100%;
        height: 100%;
    }

    .main-text {
        margin: 50px auto 0 auto;
        width: 95%;
    }

    .main-text p {
        margin: 20px 0;
    }

    .main-text h1 {
        font-size: 22px;
    }

    .image-text img {
        float: left;
        margin-right: 15px;
        width: 50%;
        height: 50%;  
        margin-top: 0;
    }
    .image-text {
        margin-top: 25px;
    }
    
    .image-text h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    .bottom-text {
        margin: 50px auto 0 auto;
        width: 95%;
    }

    .bottom-text h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    footer {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0 10px 0;
        background-color: #ffa500;
        color: #ffffff;
        width: 100%;
    }

    .footer-content {
        margin: 0 auto;
        width: 80%;
    }

    footer p {
        margin: 10px 0;
    }

    .social-icons {
        width: 100%;
    }

    .social-icons img {
        margin: 10px 15px 0 0;
        width: 100px;
        height: 100px;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-media a {
        color: #ffffff;
    }

}

/* Desktop Version */

@media screen and (min-width: 916px) {
    .nav {
        visibility: visible;
        position: fixed;
        background-color: #ffa500;
        color: #ffffff;
        width: 100%;
    }

    #nav-mobile {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .nav img {
        padding: 5px;
        width: 4%;
        height: 4%;
    }

    .nav a {
        list-style: none;
        text-decoration: none;
        text-decoration-line: none;
        color: white;
        margin: auto 0;
        padding-left: 4%;
        font-size: 18px;
        font-weight: lighter;
    }

    #nav-center {
        justify-content: center;
    }

    #nav-left {
        margin-left: 22%;
    }

    #nav-right {
        margin-right: 20%;
    }

     .main img{
        margin-top: 2%;
        width: 100%;
        height: 100%;
    }

    .main-text {
        margin: 50px auto 0 auto;
        width: 75%;
    }

    .main-text p {
        margin: 20px 0;
    }

    .main-text h1 {
        font-size: 22px;
    }

    .main-text h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    .image-text img {
        float: left;
        margin-right: 15px;
        width: 50%;
        height: 50%;  
        margin-top: 0;
    }
    .image-text {
        margin-top: 25px;
    }

    .image-text h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    .image-text-left img {
        float: right;
        margin-left: 15px;
        width: 50%;
        height: 50%;  
        margin-top: 0;
    }
    .image-text-left {
        margin-top: 25px;
    }

    .image-text-left h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    .bottom-text {
        margin: 50px auto 0 auto;
        width: 75%;
    }

    .bottom-text h2 {
        font-size: 18px;
        margin: 20px 0;
    }

    footer {
        margin-top: 30px;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #ffa500;
        color: #ffffff;
        width: 100%;
    }

    footer h2 {
        margin: 5px 0;
    }

    footer p {
        color: #f5f5f5;
        margin: 5px 0;
    }

    footer a {
        text-align: right;
        color: #ffffff;

    }

    

    .socials {
        justify-content: center;
        align-self: center;
    }

    .socials a {
        margin: 0 10px;
    }
}