* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.nav {
    position: fixed;
    background-color: #ffa500;
    color: #ffffff;
    width: 100%;
}

.nav img {
    padding: 5px;
    width: 4%;
    height: 4%;
}

.nav h2 {
    margin: auto 0;
    padding-left: 4%;
    font-size: 18px;
    font-weight: lighter;
}

#nav-center {
    justify-content: center;
}

#nav-left {
    margin-left: 22%;
}

#nav-right {
    margin-right: 20%;
}

.main img{
    margin-top: 2%;
    width: 100%;
    height: 100%;
}

.main-text {
    margin: 50px auto 0 auto;
    width: 80%;
}

.main-text p {
    margin: 10px 0;
}

.shoe-section {
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto 25px auto;
    width: 80%;
    height: 100%;
}

.shoe-preview {
    list-style: none;
    text-align: center;
    margin: 25px 80px;
    width: 20%;
}

footer {
    background-color: #ffa500;
    color: #ffffff;
    width: 100%;
}